@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&amp;family=Roboto:wght@100;300;400;500;700;900&amp;display=swap');
   

    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
        
        .container-1 {
            display: flex;
            justify-content: space-evenly;
            background-color:#302e29;
            align-items: center;
            padding: 20px;
            
        } 

        .nav-container-bottom {
            background: #3e3b35;
            display: flex;
            justify-content: space-evenly;
            padding: 20px;
            flex-wrap: wrap;
            gap: 10px;
            text-align: center;
        }
        
        .container-1 div {
            padding: 30px;
        }
        
       .footer-heading {
        font-size: 1.25em;
        font-weight: 600;
        color: #ffffff;
        font-family: 'Poppins', sans-serif;
        margin-top: -1px;
       }

       .box-3-text {
           color: #c7c7c7;
           font-family: 'Poppins', sans-serif;
           line-height: 1.6;
       }

       .box-1-link-text {
            color: #c7c7c7;
           font-family: 'Poppins', sans-serif;
           text-decoration: none;
           transition: all 0.3s;
           line-height: 1.6;
       }

       .box-1-link-text:hover {
        color: #c7c7c7;

   }
     

       .phone-icon {
           text-decoration: none;
           color: #ffffff;
           font-size:20px;
       }

       .map-icon {
        text-decoration: none;
           color: #ffffff;
           font-size:20px;
       }
        
        .logo {
            max-width: 100%;
            height: auto;
            width: 160px;
            filter: brightness(0) invert(1);
            
            
          
        }

        .bottom-footer-text {
            color: #ffffff;
            font-family: 'Poppins', sans-serif;
            font-size: 14px;
        }

        .jacob-footer-link {
            text-decoration: none;
            color: #c7c7c7;
            font-family: 'Poppins', sans-serif;
            transition: all 0.3s;
        }
        .jacob-footer-link:hover {
            color: #ffffff;
            
        }

        .box-1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        }

        .box-3 {
        display: flex;
        flex-direction: column;
        align-items: center;
        }
        
            
        /* small phones to small tablets: from 481px to 767px */
        @media only screen and (max-width: 767px) {
      
      
            .container-1 {
                flex-direction: column;
                text-align: center;
            }
            
          
            
        }
       
       
        
